:root {
  --color-primary-500: #ff6200;
  --color-primary-400: #ff914d;
  --text-color: #000000;
  --color-white: #ffffff;

  --font-family: "Open Sans", sans-serif;

  --fw-md: 400;
  --fw-lg: 700;

  --fs-sm: 0.875rem;
  --fs-md: 1rem;
  --fs-lg: 1.5rem;

  font-family: var(--font-family);
  font-optical-sizing: auto;
  font-weight: var(--fw-md);
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
  line-height: 1.5;

  color-scheme: light dark;
  color: var(--text-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--color-primary-500);
  background-image: linear-gradient(to bottom,
      var(--color-primary-500),
      var(--color-primary-400)) no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

#outlet {
  width: 100%;
}